@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope.woff2") format("woff2"),
    url("assets/fonts/manrope.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --doc-height: 100%;
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  color: #000;
  letter-spacing: 0.5px;
  scrollbar-width: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
br::-moz-selection,
span::-moz-selection,
a::-moz-selection,
li::-moz-selection,
img::-moz-selection,
audio::-moz-selection,
video::-moz-selection,
div::-moz-selection,
em::-moz-selection {
  color: #ff0055;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
br::selection,
span::selection,
a::selection,
li::selection,
img::selection,
audio::selection,
video::selection,
div::selection,
em::selection {
  color: #ff0055;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--doc-height);
  background-color: #000;
  z-index: 8;
  opacity: 1;
  -webkit-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.loading.hidden {
  opacity: 0;
  pointer-events: none;
}

.grid,
.grid-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 20px;
}

.grid img,
.grid video {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.area-1-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.area-1-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.area-1-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.area-2-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.area-2-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.area-3-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.area-3-4-2-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.area-4-5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.area-5-6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.area-2-4-1-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.area-4-6-2-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.area-2-5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.area-2-5-1-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.area-2-4-1-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.area-4-6-2-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.area-4-6-1-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.area-1-3-2-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.area-3-5-2-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.area-3-5-3-4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.area-2-4-2-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.area-2-4-3-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.area-5-6-1-2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.area-4-6-2-3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.area-4-6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
}

.area-2-3-2-3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.area-4-6 img,
.area-4-6 iframe {
  margin-bottom: 20px;
}

/*  */

.ui-comp {
  width: 15px;
}

.current {
  font-weight: 800;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.nav-mobile li a.current {
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  color: #000;
  -webkit-text-decoration-color: #000;
  text-decoration-color: #000;
}

a:hover {
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
}

h1,
h2 {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

.caption {
  font-weight: 800;
  font-size: 11px;
}

video {
  outline: none;
}

nav {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  margin: 20px 0;
  font-weight: 800;
  text-transform: uppercase;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: line-through;
  -webkit-text-decoration-color: #000;
  text-decoration-color: #000;
}

.sidebar {
  width: 15vw;
  height: var(--doc-height);
  position: fixed;
  left: 30px;
  top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 5;
}

.sidebar ul:nth-child(2),
.sidebar ul:nth-child(3) {
  margin-top: 20px;
}

.sidebar li {
  /* margin-bottom: 2px;
  text-transform: uppercase; */
  margin-bottom: 8px;
  text-transform: uppercase;
  line-height: 1.4;
}

.sidebar-items,
.group-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.menu-name a {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  justify-items: start;
  margin-left: 30px;
}

.menu-links {
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
}

.menu-items {
  margin-left: 20px;
  text-decoration: none;
}

.menu-links a:last-child {
  margin-left: 60px;
  margin-right: 30px;
}

.page-title,
.page-section {
  font-weight: 800;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
}

.line {
  height: 10px;
  width: 100vw;
  background-color: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
}

.page-label {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 5;
  pointer-events: none;
  white-space: nowrap;
}

.page-label p {
  display: inline-block;
  -webkit-transform: rotate(90deg) translateX(50%);
  -ms-transform: rotate(90deg) translateX(50%);
  transform: rotate(90deg) translateX(50%);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  letter-spacing: 20px;
  text-transform: uppercase;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.initial {
  -webkit-animation: move 3s 1 ease;
  animation: move 3s 1 ease;
}

.initial-delay {
  -webkit-animation: move 3s 1s 1 ease;
  animation: move 3s 1s 1 ease;
}

.main {
  position: relative;
  margin-top: 15vh;
}

.max-height {
  height: 85vh;
  margin-bottom: 0;
}

.arc-visual {
  width: 100vw;
  height: 90vh;
  position: absolute;
  left: 0;
  top: 5vh;
  background-image: url("media/arcipelago/Arcipelago-Colored.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  -webkit-animation: move 5s 1 ease;
  animation: move 5s 1 ease;
}

#description {
  padding-top: 15vh;
}

.intro-home {
  font-weight: 800;
}

.intro p {
  margin-bottom: 20px;
}

.intro div {
  margin-bottom: 20px;
}

.wrapper-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.wrapper-text-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#calendar {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .8s ease 0.75s;
  -o-transition: all .8s ease 0.75s;
  transition: all .8s ease 0.75s;
}

#calendar.fade {
  opacity: 1;
  pointer-events: all;
}

.cal-column {
  margin-right: 50px;
  width: 50%;
}

.cal-block {
  margin-top: 20px;
}

.cal-block p:nth-child(2) {
  font-weight: 800;
}

footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px;
  font-weight: 800;
}

footer p {
  margin-right: 20px;
}

footer p:last-child {
  margin-right: 0;
}

section {
  position: relative;
  width: 100vw;
  margin-bottom: 150px;
}

.main-text p,
.main-text h1,
.main-text h2 {
  margin: 0 60px 20px 0;
}

.main-text p:last-child {
  font-weight: 700;
}

.visual-notte {
  position: absolute;
  top: 15vh;
  right: 10vw;
  z-index: 1;
  width: 33%;
  height: 100%;
  margin-right: 20px;
  background-image: url(media/la-notte-visual.svg);
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.visual-segreto {
  position: absolute;
  top: 60%;
  right: 0;
  z-index: 2;
  width: 80%;
  height: 100%;
  margin-right: 20px;
  background-image: url(media/il-segreto/Il-Segreto.svg);
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.visual-norama {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 1;
  mix-blend-mode: multiply;
  width: 80%;
  height: 100%;
  margin-right: 20px;
  background-image: url(media/no-rama/no-rama-visual.svg);
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.visual-trigger {
  position: absolute;
  left: auto;
  top: 65%;
  right: 0%;
  z-index: 2;
  width: 75%;
  height: 75%;
  margin-right: 20px;
  background-image: url(media/trigger/Trigger-Shapes.svg);
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-box {
  position: relative;
  padding: 30px;
  border: 1px solid #000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 6px rgb(47 44 115 / 10%);
  box-shadow: 0 0 15px 6px rgb(47 44 115 / 10%);
  margin-bottom: 20px;
  z-index: 5;
}

.text-box p {
  margin-bottom: 20px;
}

.text-box p:last-child {
  margin-bottom: 0;
}

.sticky {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  z-index: 5;
  position: sticky;
  top: 10px;
}

.sticky img {
  margin-bottom: 20px;
}


.sticky-2 {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  position: sticky;
  /* top: 15vh; */
  top: 20px;
}

.text-column {
  width: 48%;
}

.need-margin {
  margin-top: 20px;
}

.need-extra-margin {
  margin-top: 30%;
}

.arc-visual-footer {
  position: static;
  z-index: 2;
  height: 20vh;
  margin-bottom: 20px;
  background-image: url(media/arcipelago/Grilli-Gotici.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.conteiner-border {
  width: 100vw;
  height: var(--doc-height);
  position: fixed;
  top: 0;
  left: 0;
  border: solid 10px #000;
  z-index: 999;
  pointer-events: none;
}

.menu-mobile {
  display: none;
}

.banner {
  width: 144px;
  height: 144px;
  background-image: url("media/la-notte/ui-banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 8%;
  right: 8%;
  z-index: 5;
  -webkit-box-shadow: 0 0 15px 6px rgb(47 44 115 / 10%);
  box-shadow: 0 0 15px 6px rgb(47 44 115 / 10%);
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #fff;
}

.banner-text {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner:hover {
  mix-blend-mode: difference;
}

.page-info {
  width: 40vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.page-info.open {
  opacity: 1;
  pointer-events: all;
}

.info-close {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: url("assets/ui/ui-cross-close-b.svg");
  z-index: 9;
  -webkit-transition: -webkit-filter .5s ease;
  transition: -webkit-filter .5s ease;
  -o-transition: filter .5s ease;
  transition: filter .5s ease;
  transition: filter .5s ease, -webkit-filter .5s ease;
}

.info-close:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}


.page-info-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  cursor: pointer;
  -webkit-animation: fadeIn 3s 1 ease;
  animation: fadeIn 3s 1 ease;
}

.menu-groups {
  min-height: 65vh;
  position: relative;
}

.menu-groups div {
  position: absolute;
  text-align: center;
}

.group-1 {
  top: -10%;
  left: 40%;
}

.group-2 {
  top: 30%;
  left: 30%;
}

.group-3 {
  top: 55%;
  left: 36%;
}

.group-4 {
  top: 85%;
  left: 32%;
}

.group-5 {
  top: 5%;
  right: 35%;
}

.group-6 {
  top: 45%;
  right: 25%;
}

.project {
  display: none;
  background-color: #fff;
  z-index: 6;
  position: sticky;
  top: var(--doc-height);
  left: 0;
  margin-bottom: 0;
  border-top: solid 1px #000;
}

.project-text {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  position: sticky;
  top: 0;
  padding-top: 20px;
}

.project-gallery {
  margin-bottom: 20px;
}

.project-close {
  width: 15px;
  height: 15px;
  align-self: start;
  position: sticky;
  top: 20px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 9;
  -webkit-transition: -webkit-filter .5s ease;
  transition: -webkit-filter .5s ease;
  -o-transition: filter .5s ease;
  transition: filter .5s ease;
  transition: filter .5s ease, -webkit-filter .5s ease;
}

.project-close svg {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.project-close:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.footer-arc {
  position: fixed;
  bottom: 0;
}

/* bleah!!! */

.collage-layout {
  width: 100%;
  min-height: var(--doc-height);
  position: absolute;
  padding: 0;
  margin: 0;
}

.collage-layout.stuck {
  width: 10%;
  right: -5%;
}

.collage-element {
  width: calc(20vw + 5rem);
  position: absolute;
  z-index: 6;
  transform-origin: left;
  pointer-events: none;
}

.collage-element-wrapper {
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.glow {
  position: relative;
  box-shadow: 0 0 15px 6px rgb(47 44 115 / 10%);
}

.glow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102%;
  height: 102%;
  background-color: #fff;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  z-index: -1;
}

.collage-element-wrapper img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.collage-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: solid 1px #ff3927;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  transition: all .5s ease;
}

.collage-button svg {
  width: 2rem;
  height: 2rem;
  stroke: #ff3927;
  stroke-width: 2px;
  transition: all .5s ease;
}

.collage-button:hover {
  background-color: #ff3927;
}

.collage-button svg:hover {
  stroke: #fff;
}

.draggable {
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collage-element:nth-of-type(1) {
  top: 25%;
  left: 25%;
  width: 50%;
}

.collage-element:nth-of-type(2) {
  width: 40vw;
  top: 2%;
  left: 35%;
  transform: rotate(-2deg);
}

.collage-element:nth-of-type(3) {
  top: 18%;
  left: 20%;
  transform: rotate(-2deg);
}

.collage-element:nth-of-type(4) {
  top: 40%;
  left: 78%;
  transform: rotate(-2deg);
}

.collage-element:nth-of-type(5) {
  top: 5%;
  right: 5%;
  transform: rotate(3deg);
}

.collage-element:nth-of-type(6) {
  top: 10%;
  right: 45%;
  transform: rotate(-5deg);
}

.collage-element:nth-of-type(7) {
  top: 70%;
  right: 25%;
  transform: rotate(5deg);
}

.collage-element:nth-of-type(8) {
  top: 2%;
  left: 2%;
  transform: rotate(3deg);
}

.collage-element:nth-of-type(9) {
  top: 45%;
  left: 66%;
  transform: rotate(10deg);
}

.collage-element:nth-of-type(10) {
  width: 50%;
  top: 55%;
  left: 20%;
  transform: rotate(-10deg);
}

.collage-element:nth-of-type(11) {
  width: 75%;
  top: 85%;
  left: 15%;
  transform: rotate(5deg);
}

.collage-element:nth-of-type(12) {
  top: 23%;
  left: 15%;
  transform: rotate(5deg);
}

.collage-element:nth-of-type(13) {
  top: 23%;
  left: 0%;
  transform: rotate(2deg);
}

.collage-element.audio {
  width: auto;
  top: 23%;
  left: 60%;
}

@-webkit-keyframes equalize {
  0% {
    height: 60px;
  }

  4% {
    height: 50px;
  }

  8% {
    height: 40px;
  }

  12% {
    height: 30px;
  }

  16% {
    height: 20px;
  }

  20% {
    height: 30px;
  }

  24% {
    height: 40px;
  }

  28% {
    height: 10px;
  }

  32% {
    height: 40px;
  }

  36% {
    height: 60px;
  }

  40% {
    height: 20px;
  }

  44% {
    height: 40px;
  }

  48% {
    height: 70px;
  }

  52% {
    height: 30px;
  }

  56% {
    height: 10px;
  }

  60% {
    height: 30px;
  }

  64% {
    height: 50px;
  }

  68% {
    height: 60px;
  }

  72% {
    height: 70px;
  }

  76% {
    height: 80px;
  }

  80% {
    height: 70px;
  }

  84% {
    height: 60px;
  }

  88% {
    height: 50px;
  }

  92% {
    height: 60px;
  }

  96% {
    height: 70px;
  }

  100% {
    height: 80px;
  }
}

@keyframes equalize {
  0% {
    height: 60px;
  }

  4% {
    height: 50px;
  }

  8% {
    height: 40px;
  }

  12% {
    height: 30px;
  }

  16% {
    height: 20px;
  }

  20% {
    height: 30px;
  }

  24% {
    height: 40px;
  }

  28% {
    height: 10px;
  }

  32% {
    height: 40px;
  }

  36% {
    height: 60px;
  }

  40% {
    height: 20px;
  }

  44% {
    height: 40px;
  }

  48% {
    height: 70px;
  }

  52% {
    height: 30px;
  }

  56% {
    height: 10px;
  }

  60% {
    height: 30px;
  }

  64% {
    height: 50px;
  }

  68% {
    height: 60px;
  }

  72% {
    height: 70px;
  }

  76% {
    height: 80px;
  }

  80% {
    height: 70px;
  }

  84% {
    height: 60px;
  }

  88% {
    height: 50px;
  }

  92% {
    height: 60px;
  }

  96% {
    height: 70px;
  }

  100% {
    height: 80px;
  }
}

.audio-svg {
  width: 96px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: solid 1px #ff3927;
  padding: 0.5rem;
  transition: all .5s ease;
}

.audio-button {
  color: #ff3927;
  font-weight: 700;
  cursor: pointer;
  transition: all .5s ease;
}

.audio-svg:has(.audio-button:hover) {
  background-color: #ff3927;
}

.audio-button:hover {
  color: #fff;
}

.equilizer {
  height: 48px;
  width: 48px;
  transform: rotate(180deg);
}

.audio-svg.play .bar {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.bar {
  fill: #ff3927;
  width: 15px;
  -webkit-animation: equalize 4s 0s infinite;
  animation: equalize 4s 0s infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.bar:nth-child(2) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.bar:nth-child(3) {
  -webkit-animation-delay: -2.3s;
  animation-delay: -2.3s;
}

.bar:nth-child(4) {
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.bar:nth-child(5) {
  -webkit-animation-delay: -2.1s;
  animation-delay: -2.1s;
}


.collage-move {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  background-color: #ff3927;
  border: solid 1px #ff3927;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 8;
  transition: all .5s ease;
  box-shadow: 0 0 15px 6px rgb(47 44 115 / 10%);
}

.collage-move:hover {
  color: #ff3927;
  background-color: #fff;
}

@media screen and (max-width: 915px) {
  .page-label {
    right: 10px;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-arc {
    display: block;
  }

  .loading {
    display: none;
  }

  .initial-delay {
    -webkit-animation: move 3s 1 ease;
    animation: move 3s 1 ease;
  }

  section {
    margin-bottom: 75px;
    padding: 0 20px;
  }

  .menu-mobile {
    display: block;
    z-index: 5;
  }

  .menu-name {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5;
  }

  .menu-name a {
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
  }

  .menu-label {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5;
  }

  .menu-label p {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .menu-overlay {
    opacity: 0;
    pointer-events: none;
    background-color: #000;
    padding: 15vh 12px 12px 12px;
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--doc-height);
    z-index: 8;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
  }

  .menu-overlay.reveal {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  .nav-mobile {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px
  }

  .menu-overlay.reveal .nav-mobile {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  .menu-overlay.reveal .nav-mobile li a {
    display: inline-block;
  }

  .nav-mobile li a {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 0;
    display: none;
  }

  .nav-mobile-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 12px;
  }

  .grid-menu,
  .sidebar {
    display: none;
  }

  .area-2-3,
  .area-2-4-1-3,
  .area-2-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }

  .area-2-5,
  .area-5-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }

  .area-4-6-2-4,
  .area-4-6,
  .area-4-5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
  }

  .sub-text {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }

  .need-margin,
  .need-extra-margin {
    margin: 0;
  }

  .main-text p,
  .main-text h1,
  .main-text h2 {
    margin: 0 20px 20px 0;
  }

  .sticky-2 {
    position: static;
  }

  .project {
    overflow-y: scroll;
  }

  .project-close {
    left: 20px;
    top: 20px;
  }

  .project-text {
    position: static;
    margin-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }

  .menu-name {
    left: 12px;
  }

  .menu-label {
    right: 12px;
  }

  .main {
    margin-top: 0;
  }

  .grid {
    display: flex;
    flex-direction: column;
    margin: 15vh 0;
  }

  .visual-segreto,
  .visual-notte,
  .visual-norama {
    display: none;
  }

  .page-label {
    font-size: 9px;
    text-align: center;
    right: 0px;
  }

  .grid-menu,
  .sidebar {
    display: none;
  }

  .sticky,
  .sticky-2 {
    position: static;
  }

  .sticky-2 {
    margin-bottom: 0
  }

  section {
    margin-bottom: 0;
    padding: 0 12px;
  }

  .move {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #description {
    padding-top: 0;
  }

  footer {
    display: block;
    padding: 12px;
  }

  .need-margin-mobile {
    margin-bottom: 20px;
  }

  .wrapper-text-column {
    display: block;
  }

  .text-column {
    width: 100%;
  }

  .text-box {
    padding: 10px;
    z-index: 7;
  }

  .wrapper-column {
    display: block;
  }

  .cal-column {
    margin-top: 20px;
    margin-right: 0;
    width: 100%;
  }

  .main-text p,
  .main-text h1,
  .main-text h2 {
    margin: 0 0 20px 0;
  }

  /* .area-4-6 img,
  .area-4-6 iframe {
      margin-bottom: 0;
  } */

  .sub-text,
  .main-text {
    margin: 20px 0;
  }

  .banner {
    width: 90px;
    height: 90px;
    mix-blend-mode: normal;
  }

  .scroll-on-mobile {
    overflow-y: scroll;
    margin-bottom: 0;
    padding-top: 50px;
  }

  .menu-groups {
    margin: 15vh 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu-groups div {
    position: static;

  }

  .project .grid {
    display: block;
  }

  .project-gallery {
    padding-bottom: 12px;
  }

  .project-close {
    left: 0;
    margin: 0;
  }

  .page-info-btn {
    top: 20px;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  .page-info {
    width: calc(100vw - 24px);
  }

  .collage-layout {
    top: 0;
    overflow: hidden;
  }

  .collage-layout.stuck {
    display: none;
  }

  .collage-move {
    bottom: 40px;
    right: 40px;
  }
}